rules_version = '2';
service firebase.storage {
  match /b/{bucket}/o {
    
    // ユーザーのファイルを保存するディレクトリ
    match /users/{userId}/videos/{fileName} {
      
      // ユーザー自身のファイルにアクセスできる
      allow read, write: if request.auth != null && request.auth.uid == userId;
    }
  }
}
