<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>796669288308-dpekcrn01reggs36u2hglambt7n27gok.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.796669288308-dpekcrn01reggs36u2hglambt7n27gok</string>
	<key>API_KEY</key>
	<string>AIzaSyDPpuqu3s4aAJWx76GQKdshN7l3cgmSRYg</string>
	<key>GCM_SENDER_ID</key>
	<string>796669288308</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.owaraviApp</string>
	<key>PROJECT_ID</key>
	<string>owaravi</string>
	<key>STORAGE_BUCKET</key>
	<string>owaravi.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:796669288308:ios:58909d8ec9b8e29178d621</string>
</dict>
</plist>